<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProductsApp.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=BASHAR\SQLEXPRESS;Initial Catalog=NORTHWND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    
        <add name="ProductsApp.Properties.Settings.MorningBankConnectionString"
            connectionString="Data Source=BASHAR\SQLEXPRESS;Initial Catalog=MorningBank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>